#comment-form .form-group .form-control {
  font-size 14px;
}

.comment {
  overflow: hidden;
  padding: 0 0 1em;
  margin: 0 0 1em;
}

.comment-img {
  float: left;
  margin-right: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.comment-img img {
  display: block;
}

.comment-body {
  overflow: hidden;
}

.comment .text {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background: #fff;
}

.comment .text p:last-child {
  margin: 0;
}

.comment .attribution {
  margin: 0.5em 0 0;
  font-size: 14px;
  color: #666;
}

/* Decoration */

.comments,
.comment {
  position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 65px;
}

.comment .text:before {
  top: 18px;
  left: 75px;
  width: 9px;
  height: 9px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}​

.comment-reply-button {
  margin-right: 5px;
}


.comment-replies,
.comment-reply {
  position: relative;
  margin-left: 4%;
  margin-top: 15px;
}

.comment-replies:before,
.comment-reply:before,
.comment-reply .text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 65px;
}

.comment-reply .text:before {
  top: 18px;
  left: 75px;
  width: 9px;
  height: 9px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.comment-thread {
  border-left: 1px solid #ddd;
  margin-left: 1em;
  margin-top: -1em;
  margin-bottom: 1em;
  padding-top: 1em;
}

.comment-date {
  font-style italic;
}

.lds-ring {
  display: none;
  position: relative;
  width: 25px;
  height: 14px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media all and (min-width: 50em) {
  .comment-replies, .comment-reply {
    /* Why the use of calc for margin-left?
       Because browsers that don't support calc will be served
       up the mobile styling, which is percentage based.  */
    margin-left: calc( 2rem );
    margin-left: -moz-calc( 2rem );
    margin-left: -webkit-calc( 2rem );

    width: calc(100% - 2rem);
    width: -moz-calc(100% - 2rem);
    width: -webkit-calc(100% - 2rem);
  }
}