@import "nib"
@import "_variables"
@import "_util/_feather"
@import "_util/_extend"

global-reset()

body
  font-family: Roboto, sans-serif;
  color: #545E6C;
  background: #f0f0f0;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

//Phone
@media (max-width: 767px) {
  body{
    padding: 0;
  }
  .main-wrapper {
    padding: 30px 30px 30px 30px;
  }
  .contact-info {
    display none;
  }
}

//Tablet
@media (max-width: 991px) {
  .contact-info {
    display none;
  }
}

//Desktop
@media (min-width: 767px) {
  body{
    padding: 30px;
  }
  .main-wrapper {
    padding: 50px 50px 50px 50px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #2e4049;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
  color: #10171a;
}
a:focus {
  text-decoration: none;
}
p {
  line-height: 1.5;
}

#tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}

.wrapper {
  background: #4B6A78;
  max-width: 1024px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.before-footer {
  padding-bottom: 4.5rem;
}

.grid-container {
  background-color: white;
  position: relative;
  min-height: 100vh;
}

.main-wrapper {
  background: #fff;
}
.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #2e4049;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.main-wrapper .section-title .fa {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  padding-top: 5px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.main-wrapper .section {
  margin-bottom: 60px;
}
.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}
.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}
.main-wrapper .job-title {
  color: #3F4650;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
  font-style italic;
  margin-right: 2px;
}
.main-wrapper .company {
  margin-bottom: 10px;
  color: #97AAC3;
}
.main-wrapper .project-title {
  color: #3F4650;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
}
.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}
.main-wrapper .projects-section .item {
  margin-bottom: 15px;
}
.main-wrapper .breadcrumb {
  margin-top: 15px;
}

.menu {
}

.menu-label {
  color: #7a7a7a;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.category-list {
  line-height: 1.25;
}

.category-list a {
  border-radius: 2px;
  color: #4a4a4a;
}

.category-list-item {
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.5em 0.75em;
}

.category-list-count:not(body) {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.category-list li ul {
  margin-right: 0;
}

.category-list li ul {
  border-left: 1px solid #dbdbdb;
  margin: 0.75em;
  padding-left: 0.75em;
}

.category-list-count {
  float:right;
}

.tag-list {
  line-height: 1.25;
}

.tag-list a {
  border-radius: 2px;
  color: #4a4a4a;
}

.tag-list-item {
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.5em 0.75em;
}

.tag-list-count:not(body) {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 4px;
  color: #4a4a4a;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}

.tag-list li ul {
  margin-right: 0;
}

.tag-list li ul {
  border-left: 1px solid #dbdbdb;
  margin: 0.75em;
  padding-left: 0.75em;
}

.tag-list-count {
  float:right;
}

@import "_partial/article"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/sidebar"
@import "_partial/pagination"
@import "_partial/comment"
@import "_highlight/index"